# Arquivos temporários
*.log
*.txt
!requirements.txt
qrcode.png

# Variáveis de ambiente
.env

# Docker
docker-compose.override.yml

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# teste-chatbot
teste-chatbot/audio/
teste-chatbot/banco.db
teste-chatbot/frontend/node_modules/
teste-chatbot/frontend/dist/
